@page "/processing"
@rendermode InteractiveServer
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Анализ изображений</PageTitle>

<h1 class="welcome-title">Загрузите изображение</h1>
<p class="intro-text">Загрузите изображение, и мы обработаем его для вас!</p>

<div class="file-input-wrapper">
    <label class="file-input-label" for="file-input">Выберите файл</label>
    <InputFile id="file-input" OnChange="HandleFileSelected" hidden=true accept="image/*" />
</div>

<button class="custom-button" @onclick="ProcessImage" style="margin-left:20px;" disabled="@isProcessBtnDisabled">
    Обработать изображение</button>

<button class="custom-button" @onclick="DownloadProcessedImage" style="margin-left:20px;" disabled="@isDownloadBtnDisabled">
    <img src="box-arrow-down.svg" width="20" height="20">
</button>
<script>
    window.downloadFileFromBase64 = (fileName, base64Data) => {
        const linkSource = base64Data;
        const downloadLink = document.createElement("a");
        downloadLink.href = linkSource;
        downloadLink.download = fileName;
        downloadLink.click();
    }
    </script>
<br>

@if (imageDataUrl != null)
{
    <img src="@imageDataUrl" width="300" alt="Загруженное изображение" style="padding: 1em;" />
}

@if (processedImageDataUrl != null)
{
    <img src="@processedImageDataUrl" width="300" alt="Обработанное изображение" style="padding: 1em;" />
    <br>
    <h3>Отчёт</h3>
    @if (report == null)
    {
        <p>Отчёт не получен</p>
    }

    else
    {
        <ul>
            @if (report.ObjectsArea != null)
            {
                @for (int i = 0; i < report.ObjectsArea.Count; i++)
                {
                    <li>Площадь: @report.ObjectsArea[i]; Местоположение: @report.ObjectsCenter[i][0],@report.ObjectsCenter[i][1]</li>
                }
            }
        </ul>
    }
}

@if (isImageInProcessing)
{
    <br>
    <LoadingComponent />
}

<script src="js/loadingAnimation.js"></script>

@code {
    private IBrowserFile selectedFile;
    private string imageDataUrl;
    private string processedImageDataUrl;
    private bool isProcessBtnDisabled = true;
    private bool isDownloadBtnDisabled = true;

    private bool isImageInProcessing = false;

    private Report? report;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        Console.WriteLine("uploading an image");

        selectedFile = e.File;
        try
        {
            using (var memoryStream = new MemoryStream())
            {
                await selectedFile.OpenReadStream(104857600).CopyToAsync(memoryStream);
                var buffer = memoryStream.ToArray();
                imageDataUrl = $"data:{selectedFile.ContentType};base64,{Convert.ToBase64String(buffer)}";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error reading file: {ex.Message}");
        }
        isProcessBtnDisabled = false;

        // Обновляем интерфейс, чтобы отобразить загруженное изображение
        StateHasChanged();
        Console.WriteLine("State has changed called.");
    }

    private async Task ProcessImage()
    {
        Console.WriteLine("image processing");

        if (selectedFile != null)
        {
            await UploadFile(selectedFile);
        }
    }

    private async Task UploadFile(IBrowserFile file)
    {
        var content = new MultipartFormDataContent();
        var streamContent = new StreamContent(file.OpenReadStream(104857600));
        content.Add(streamContent, "file", file.Name);

        Console.WriteLine("Отправляем файл на сервер...");
        // Включение анимации загрузки
        isImageInProcessing = true;

        var response = await Http.PostAsync("http://127.0.0.1:5000/proceed", content);

        if (response.IsSuccessStatusCode)
        {
            var processedImageBytes = await response.Content.ReadAsByteArrayAsync();
            processedImageDataUrl = $"data:image/jpg;base64,{Convert.ToBase64String(processedImageBytes)}";
            Console.WriteLine("Файл успешно загружен и обработан.");
            isDownloadBtnDisabled = false;
            // Обновляем интерфейс, чтобы отобразить обработанное изображение
            StateHasChanged();
            
            // Загрузка отчёта
            await UploadReport();
        }
        else
        {
            Console.WriteLine($"Ошибка при загрузке файла: {response.StatusCode}");
        }
        isImageInProcessing = false;
    }

    private async Task UploadReport()
    {
        try
        {
            // Получаем сырой JSON для отладки
            var jsonResponse = await Http.GetStringAsync("http://127.0.0.1:5000/report");
            Console.WriteLine("Raw JSON Response:");
            Console.WriteLine(jsonResponse);

            // Десериализуем JSON в объект Data
            report = System.Text.Json.JsonSerializer.Deserialize<Report>(jsonResponse);

            if (report != null)
            {
                if (report.ObjectsCenter != null && report.ObjectsArea != null)
                {
                    Console.WriteLine("Data loaded successfully.");
                }
                else
                {
                    Console.WriteLine("ObjectsCenter or ObjectsArea is null.");
                }
            }
            else
            {
                Console.WriteLine("Failed to deserialize data.");
            }
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine("\nException Caught!");
            Console.WriteLine("Message :{0} ", e.Message);
        }
    }

    private async Task DownloadProcessedImage()
    {
        if (!string.IsNullOrEmpty(processedImageDataUrl))
        {
            await JSRuntime.InvokeVoidAsync("downloadFileFromBase64", "processed_image.jpg", processedImageDataUrl);
        }
    }

    public class Report
    {
        public List<double> ObjectsArea { get; set; }
        public List<List<int>> ObjectsCenter { get; set; }
    }

    public class Center
    {
        public int X { get; set; }
        public int Y { get; set; }
    }
}
